/* Mobile */
@media (max-width: 740px) {

#header {
    display: none;
}

#slider .introduceSlider {
    padding: 70px 16px;
}

.none {
    display: none;
}

.sliderHeading {
    display: inline-block;
}

.col-7 {
    width: 90%;   
}

.colThird {
    width: 90%;
}

.fix {
    height: 15px;
}

}